<%- include('../header'); %>
<main>
	<div class="container">
        <div class="row">
            <div class="col-md-12">
                <%- include('admin_menu'); %>
            </div>
        </div>
    </div>
    <hr>
    <div class="container" style="min-height: 550px">
        <div class="row z-depth-5">
        	<h5><%- Bingo.title %></h5>
        	<form action="/admin/room75/edit" method="post" style="width: 100%;">
        	<div class="col-md-12">
        		<div class="row list">
		            <div class="col-md-12">
			            <div class="md-form">
						    <input type="text" name="name" id="name" class="form-control" value="<%- Bingo.room.name %>">
						    <label for="form1" class="">Room Name</label>
						</div>
					</div>
					<div class="col-md-12">
			            <div class="md-form">
			            	<textarea type="text" name="description" id="description" class="md-textarea"><%- Bingo.room.description %></textarea>
						    <label for="form1" class="">Room Description</label>
						</div>
					</div>
					<div class="col-md-6">
			            <div class="md-form">
			            	<input type="text" name="card_price" id="card_price" class="form-control" value="<%- Bingo.room.card_price %>">
						    <label for="form1" class="">Card Price</label>
						</div>
					</div>
					<div class="col-md-6">
			            <div class="md-form">
			            	<input type="text" name="cards_upto" id="cards_upto" class="form-control" value="<%- Bingo.room.cards_upto %>">
						    <label for="form1" class="">Total Cards </label>
						</div>
					</div>
					<div class="col-md-6">
			            <div class="md-form">
			            	<input type="text" name="card_balls_to_roll" id="card_balls_to_roll" class="form-control" value="<%- Bingo.room.card_balls_to_roll %>">
						    <label for="form1" class="">Number of Balls </label>
						</div>
					</div>
					

					<div class="col-md-12">
						<input type="hidden" name="room_id" value="<%- Bingo.room._id %>">
						<input type="submit" name="submit" id="submit" class="btn btn-primary" value=" Update ">
					</div>
				</div>
			</div>
			</form>
			



		</div>
	</div>
	<hr>
</main>
<%- include('../footer'); %>	
