<!-- Modal login-->
<div class="modal fade" id="modalMyAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginLabel">Welcome <%= Bingo.user %></h4>
        <div class="bg-success" id="success_msg" ></div>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
              <ul id="account_tabs" class="nav nav-tabs" role="tablist">
                 <li role="presentation" class="active">
                  <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                </li>
                <li role="presentation">
                  <a href="#change_password" aria-controls="change_password" role="tab" data-toggle="tab">Change Password</a>
                </li>
                <li role="presentation">
                  <a href="#payment" aria-controls="payment" role="tab" data-toggle="tab">Payment Details</a>
                </li>
                <li role="presentation">
                  <a href="#credits" aria-controls="credits" role="tab" data-toggle="tab">Credits</a>
                </li>
              </ul>
              <br>
                <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile">
                  <div class="form-horizontal" > 
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-4 control-label">Email/Username</label>
                      <div class="col-sm-8">
                        <input type="email" disabled="disabled" readonly name="email" class="form-control" id="email" value="<%= Bingo.user_details.username %>" placeholder="Email" >
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-4 control-label">First Name</label>
                      <div class="col-sm-8">
                        <input type="text" value="<%= Bingo.user_details.firstname %>" name="firstname" class="form-control" id="password" placeholder="First Name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-4 control-label">Last Name</label>
                      <div class="col-sm-8">
                        <input type="text" name="lastname" class="form-control" id="lastname" value="<%= Bingo.user_details.lastname %>" placeholder="Last Name">
                      </div>
                    </div>
                    <!-- <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Remember me
                          </label>
                        </div>
                      </div>
                    </div> -->
                    <hr>
                    <div class="form-group">
                      <div class="col-sm-offset-4 col-sm-8">
                        <button  id="profile_btn" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                  </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="change_password">
                    
                  <div class="form-horizontal" > 
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-4 control-label">Old Password</label>
                      <div class="col-sm-8">
                        <input type="password" name="opassword" class="form-control" id="opassword" placeholder="Old Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-4 control-label">New Password</label>
                      <div class="col-sm-8">
                        <input type="password" name="npassword" class="form-control" id="npassword" placeholder="New Password">
                      </div>
                    </div>
                    <!-- <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Remember me
                          </label>
                        </div>
                      </div>
                    </div> -->
                    <hr>
                    <div class="form-group">
                      <div class="col-sm-offset-4 col-sm-8">
                        <button  id="change_password_btn" class="btn btn-primary">Change</button>
                      </div>
                    </div>
                  </div>


                </div>


                <div role="tabpanel" class="tab-pane" id="payment">
                  <h2>Payment related stuff</h2>
                </div>

                <div role="tabpanel" class="tab-pane" id="credits">
                  <h2>Add Credits (testing purpose only)</h2>
                  <div class="form-group">
                      <label for="inputPassword3" class="col-sm-4 control-label">
                        Add Credit
                      </label>
                      <div class="col-sm-8">
                        <input type="text" value="<%= Bingo.user_details.total_credits %>" name="total_credits" class="form-control" id="total_credits" placeholder="total_credits">
                      </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <div class="col-sm-offset-4 col-sm-8">
                        <button id="add_credit_btn" class="btn btn-primary">Add</button>
                      </div>
                    </div>
                </div>
                



              </div>

                
            </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->

    </div>
  </div>
</div>

<script type="text/javascript">
  $('#account_tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

  $('#add_credit_btn').on('click', function(){
        var total_credits = $('#total_credits').val();
        var username = '<%= Bingo.user_details._id %>';

        if($('#total_credits').val() == ''){
            $('#total_credits').addClass('error-red');
            return;
        } else {
            $.ajax({
              type: "POST",
              url: '/api/total_credits',
              data: JSON.stringify({total_credits:total_credits, username:username}),
              success: function(res){
                console.log('logged in'+ res);
                $('#success_msg').html('Credits Added!')
              },
              error:function(xhr){
                $('#success_msg').addClass('error-red red').html('Error.!');
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
            });
        }

  })
</script>