<%- include('header90'); %> 
<script src="/socket.io/socket.io.js"></script>
    <!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card90" style="border: 2px solid #c00;">
                <table class="table90 pattern" >
                    <tr>
                        <td style="border: 2px solid #ff5a01;vertical-align: top;">
                            <a style="margin-left: -0.8rem;" class="btn btn-orange">
                                <i class="fa fa-users left"></i> Players
                            </a>
                            <ul id="users_in_room" class="nav nav-pills nav-stacked" style="max-height: 120px;overflow-y: scroll;width:150px">
                            </ul>
                        </td>
                        <td style="border: 2px solid blue;">
                            <a class="btn btn-indigo">
                                <i class="fa fa-gift left"></i> Prize
                            </a>
                            <div class="clearfix"></div>
                            <span class="label label-warning">Line 1: &euro;5</span>
                            <span class="label label-info">Line 2: &euro;10</span>
                            <span class="label label-success">Full Card 
                                <span class="badge">&euro;25</span>
                            </span>
                               
                            <hr class="hr" style="margin:10px;">
                            <a class="btn btn-pink">
                                <i class="fa fa-star left"></i> Winners
                            </a>
                            <div class="clearfix"></div>
                            <span class="label label-warning">Peter</span>
                            <span class="label label-info">John</span>
                            <span class="label label-success">Ravi</span>
                        </td>
                    </tr>
                </table> 
            </div>
            <div class="clearfix"></div>
            <div id="chat_box" class="card90" style="height: 225px;">
                <a class="btn btn-indigo" style="width: 95%;">
                    <i class="fa fa-wechat left"> </i> Chat Box
                </a>
                <ul id="messages" style="padding: 0.5rem;overflow-y:scroll;max-height: 180px">
                </ul>
                <div class="chat-form" style="position: absolute;bottom: 0;">
                    <input type="text" id="message" name="message" style="width: 65%;margin-right: 0.25rem;border: 1px solid #ddd;">
                    <a class="btn btn-indigo pull-right" id="send_msg_btn">
                        <i class="fa fa-send left"></i> Send
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row table90-container">
                <%  if(Bingo.cards > 0){ %>
                <%- Bingo.table %>
                <%     
                    } else {
                    for(var i=1; i < 37; i++) {
                %>
                <div class="col-md-6">
                    <div class="card90" style="height: 72px;text-align: center;">
                        <h3>Card <%= i %></h3>
                    </div>
                </div>
                <%  }    } %>
                <div class="clearfix"></div>
           </div>
        </div>
    </div>
    <!--chat row-->
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3"></div>
    </div>
</div>
<!-- /.container -->

<%- include('footer90'); %>
<!-- chat socket starts -->
<script>
var socket = io();
$('#send_msg_btn').hide();
$('#message').hide();
var data = {};
<% if(Bingo.user_room && (Bingo.cards > 0)){ %>
    console.log('here90')
    data.user = "<%= Bingo.user %>";
    data.user_room = "<%= Bingo.user_room %>";
        console.log(data);
        socket.emit('get user list', data);
    $('#send_msg_btn').show();
    $('#message').show();   
  
    $('#send_msg_btn').on('click', function(){
        
        var message = $('#message').val();
        data.message = message;
        socket.emit('send message', data);
        $('#message').val('');
        return false;
    });
    socket.on('show message', function(data){
        $('#messages').append($('<li>').html('<b>'+data.user+'</b>: '+data.message));
        $("#messages").animate({
          "scrollTop": $('#messages')[0].scrollHeight
        }, "fast");
        //user list
        
    });
    socket.on('show user list', function(users){ 
        console.log(users);
        var user_list = '';
        for(i=0;i<users.length;i++){
            user_list += '<li class="active"><a href="#">'+users[i]+'</a></li>';
        }
        if(user_list){
            $('#users_in_room').html(user_list);
        }
    });
<% } %>
</script>
<!-- chat socket ends -->

<script type="text/javascript">
$( document ).ready(function() {
    $('.play90').on('click', function(e){ 
        
        //return;
        var room = e.target.title;
        var card = $('#cards').val(); //alert(card);
        var gid =  $(this).attr('data');
        window.location = '/bingo90?cards='+card+'&room='+room+'&game='+gid;
    })
    <% if(Bingo.cards > 0){ %>

        //console.log(JSON.parse('<%- Bingo.card_name %>'), 'lplplpp');
        var num = <%= Bingo.cards %>;
        $('#btn_tick').attr('disabled','disabled');
        var bingo90 = {};
        var pattern = 'none';
        var selected_pattern = pattern[Math.floor(Math.random()*pattern.length)];

        bingo90.user_room = '<%= Bingo.user_room %>';
        bingo90.game_id = '<%= Bingo.game_id %>';
        bingo90.card_name = JSON.parse('<%- Bingo.card_name %>');
        var winnerLine1Shown = 0;
        var winnerLine2Shown = 0;
        var winnerLine3Shown = 0;
       
        var cnt = 0;
        
        $('#start_game').on('click', function(){
           socket.emit('game counter', bingo90); 
        })
        

        socket.on('show counter ball', function(data){ 
            console.log(data, 'from server in ');
            if (performance.navigation.type == 1) { console.log(data, 'show counter ball');
                console.info( "This page is reloaded" );
                socket.emit('stop counter', bingo90);
            } else {
                console.info( "This page is not reloaded");
            }
            if(data.game_completed){
                //performance.navigation.type = 0;
                setTimeout(function(){ 
                    window.location = '/bingo90?game_c=yes&game_c_id='+data.game_id; }, 
                3000);
                console.info( "game completed");
            }
            for(key in data.card_name){
            //console.log(data, Object.keys(data.card_name).length, 'show counter ball');
            console.log(data.card_name[key]);
                    if(data.card_name[key] == 'matched'){
                        document.getElementById(key).className ='matched-cell';
                    }
                }
             cnt++;
            var bingoballHTML = '<div class="bingoball'+cnt+'"><h3 class="ball_num'+cnt+'"></h3><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 206.2 206.2"><defs><style>  .ball{isolation:isolate;}.ballcolor{fill:grey;}.cls-3{opacity:0.48;fill:url(#linear-gradient);}.cls-3,.cls-6{mix-blend-mode:screen;}.cls-4{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:4px;}.cls-5{fill:#fff;opacity:0.8;}.cls-6{fill:url(#radial-gradient);}</style><linearGradient id="linear-gradient" x1="103.1" x2="103.1" y2="206.2" gradientTransform="rotate(.02 114.612 114.572)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff"></stop><stop offset="1" stop-color="#2483c5" stop-opacity="0"></stop></linearGradient><radialGradient id="radial-gradient" cx="72.1" cy="64.1" r="53" gradientTransform="rotate(.02 114.612 114.572)" xlink:href="#linear-gradient"></radialGradient></defs><g class="ball"><g id="Laag_1" data-name="Laag 1"><path d="M206.2 102.2a103 103 0 0 1-104 104C46.2 205.7.5 160 0 104A103 103 0 0 1 104 0c56 .5 101.7 46.3 102.2 102.2z" class="ballcolor'+cnt+'"></path><path d="M206.2 102.2a103 103 0 0 1-104 104C46.2 205.7.5 160 0 104A103 103 0 0 1 104 0c56 .5 101.7 46.3 102.2 102.2z" class="cls-3"></path><path d="M175.3 102.5A72.2 72.2 0 1 1 103.7 31a72.2 72.2 0 0 1 71.6 71.5z" class="cls-4"></path><path d="M169 102.5A66 66 0 1 1 103.8 37a66 66 0 0 1 65.4 65.5z" class="cls-5"></path><path d="M125 63.6A53 53 0 1 1 72.7 11 53 53 0 0 1 125 63.7z" class="cls-6"></path></g></g></div>';
            $('#rolling_ball').append(bingoballHTML);   
            $("#counter_ball_"  + data.counter_ball).addClass('green');
            $('.ball_num'+cnt).html(data.counter_ball);
            var colors=["blue","orange","red","green","yellow","pink","aqua","lime","purple","cyan","brown","grey","darkred","deeppink","gold","indigo"];
     
            jQuery('svg .ballcolor'+cnt).css('fill',colors[~~(Math.random()*colors.length)]);

            animate(cnt);
            //winner
            if(!winnerLine1Shown){
                if (data.winnerLine1 == 1 || data.winnerLine2 == 1 || data.winnerLine3 == 1){
                    console.log("Hurray! We have a 1 line winner!");
                    $('#modalWinnerLine1').modal('show');
                       winnerLine1Shown = 1;
                   }
            }
            if(!winnerLine2Shown){
                if (data.winnerLine2 == 1){
                    console.log("Hurray! We have a 2 lines winner!");
                    $('#modalWinnerLine2').modal('show');
                    winnerLine2Shown = 1;
                }
            }
            if(!winnerLine3Shown){
                if (data.winnerLine3 == 1){
                    console.log("Yay..! We have a full house winner");
                    $('#modalWinnerLine3').modal('show');
                    winnerLine3Shown = 1;

                }
            }
            //socket.emit('game counter', bingo90);
        });
        function animate(cnt){
            
            var z = cnt - 1; 
            var y = cnt - 2;
            var x = cnt - 3;
            if(cnt == 1){
                $('.bingoball'+cnt).animate({left: '1050px',opacity:'1'}, 500, animate);
            } else if(cnt == 2) {
                $('.bingoball'+cnt).animate({left: '950px',opacity:'1'}, 500, animate);
            } else if(cnt == 3) {
                $('.bingoball'+cnt).animate({left: '850px',opacity:'1'}, 500, animate);
            } else {
                $('.bingoball'+cnt).animate({left: '650px',opacity:'1'}, 500, animate);

                $('.bingoball'+z).css('left','850px');
                $('.bingoball'+z).addClass('smallball');
                $('.bingoball'+y).css('left','950px');
                $('.bingoball'+x).css('left','1050px');
            }
        }
    <% } %>
    
});
</script>


