<div class="container" style="display: none";>
    <div class="row chat-window  col-md-3" id="chat_window" >
        <div class="col-xs-12 col-md-12">
        	<div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title" id="chat_box_title"><!-- <span class="glyphicon glyphicon-comment"></span> Chat - Miguel --></h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window"></span></a>
                    </div>
                </div>
                <div class="panel-body msg_container_base">
                    
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input  type="text" class="chat-btn-input form-control input-sm chat_input" placeholder="Write your message here..." />
                        <span class="input-group-btn">
                        <!-- <button class="btn btn-primary btn-sm" id="btn-chat">Send</button> -->
                        </span>
                    </div>
                </div>
    		</div>
        </div>
    </div>
</div>
<div class="container" id="chat_container" >
</div>
<!-- Modal login-->
<!-- <div class="modal fade" id="modalChat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginLabel">Chat Friends</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12" id="get_chat_users">
                
            </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<script type="text/javascript">
chat = {};
function get_chat_buddies() {
      $.ajax({
              type: "POST",
              url: '/api/get_chat_buddies',
              data: JSON.stringify({username: "<%= Bingo.user %>"}),
              success: function(res){
                //console.log('logged in'+ res.data);
                var user_list = '<ul id="chat_user_list">';
                for(i=0;i<res.data.length;i++){
                    user_list += '<li class="active"><a id="'+res.data[i]._id+'" href="#">'+res.data[i]._id+'</a>'+res.data[i].count+' new message(s)</li>';
                }
                user_list += '</ul>';
                $('#get_chat_users').html(user_list);
              },
              error:function(xhr){
                $('#success_msg').addClass('error-red red').html('Error.!');
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
            });
  }
setInterval(get_chat_buddies, 10000);
$(document).on('click', '.panel-heading span.icon_minim', function (e) {
    var $this = $(this);
    if (!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.addClass('panel-collapsed');
        $this.removeClass('glyphicon-minus').addClass('glyphicon-plus');
    } else {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.removeClass('panel-collapsed');
        $this.removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});
$(document).on('focus', '.panel-footer input.chat_input', function (e) {
    var $this = $(this);
    if ($('#minim_chat_window').hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideDown();
        $('#minim_chat_window').removeClass('panel-collapsed');
        $('#minim_chat_window').removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});
var size = 50;
var user_id_array = [];
var zindex =1;
$('#users_in_room, #get_chat_users').on('click', 'li a', function (e) { 
    var user_id = e.target.id;

    /*$('.'+user_id).on('click', function(){
        alert('dddd');
    })*/
    $('#chat_container #'+user_id).css("z-index", zindex );
    console.log(user_id, user_id_array, user_id_array.length)
    $('#chat_box_title').html(user_id);
    
        if(user_id_array.indexOf(user_id) === -1){
            size += 300;
            size_total = parseInt(size);
            var clone = $( "#chat_window" ).clone().appendTo( "#chat_container" );
            clone.attr('id','user_chat_box_'+user_id);
            clone.find('.icon_close').attr('user-id',user_id);
            clone.find('.chat-btn-input').attr('id','room_'+user_id);
            clone.find('.chat-btn-input').attr('to',user_id);
            clone.find('.chat-btn-input').attr('from',"<%= Bingo.user %>");
            //get the data for the user chat box
                get_data(user_id);
            if(user_id_array.length >= 3){
                size_total = 350;
            }
            clone.css("margin-left", size_total);
            clone.css("z-index", zindex);
            user_id_array.push( user_id );
            
        } else{ //alert('#'+user_id)
            
        }
      zindex++;  
      /*var chat_counter = 'stopCounter_'+user_id;
       chat.chat_counter = setInterval(function(){
        //get the data for the user chat box
            get_data(user_id);
      }, 2000)*/
    
});
function get_data(user_id){
    var user_id = user_id;
    $.ajax({
                  type: "POST",
                  url: '/api/get_chat_data',
                  data: JSON.stringify({username: "<%= Bingo.user %>",sender:user_id}),
                  success: function(res){
                    //console.log('chat data'+ res.data);
                    res.data.reverse();
                    var chat_data = '';
                    for(i=0;i<res.data.length;i++){
                        if(res.data[i].receiver == '<%= Bingo.user %>'){
                            chat_data += '<div class="row msg_container base_sent">\
                        <div class="col-md-10 col-xs-10">\
                            <div class="messages msg_sent">\
                                <p>'+res.data[i].msg+'</p>\
                                <time datetime="2009-11-13T20:00">'+res.data[i].sender+' • 51 min</time>\
                            </div>\
                        </div>\
                        <div class="col-md-2 col-xs-2 avatar1">\
                            '+res.data[i].sender.slice(0, 1)+'\
                        </div>\
                    </div>';
                        } else {
                            chat_data += '<div class="row msg_container base_receive">\
                        <div class="col-md-2 col-xs-2 avatar2">\
                            '+res.data[i].sender.slice(0, 1)+'\
                        </div>\
                        <div class="col-md-10 col-xs-10">\
                            <div class="messages msg_receive">\
                                <p>'+res.data[i].msg+'</p>\
                                <time datetime="2009-11-13T20:00">'+res.data[i].sender+' • 51 min</time>\
                            </div>\
                        </div>\
                    </div>';
                        }
                      }
                      //$('#user_chat_box_'+user_id).find('.msg_container_base').html('');
                      //$('#user_chat_box_'+user_id).find('.msg_container_base').append(chat_data);
                    //chat_data += '';
                    //console.log(chat_data, user_id)
                    $('#user_chat_box_'+user_id).find('.msg_container_base').html('');
                    $('#user_chat_box_'+user_id).find('.msg_container_base').html(chat_data);
                    $('#user_chat_box_'+user_id).find('.msg_container_base').animate({
                      "scrollTop": $('#user_chat_box_'+user_id).find('.msg_container_base').scrollHeight
                    }, "fast");
                    //$('#user_chat_box_'+user_id).find('.msg_container_base').html(chat_data);
                  },
                  error:function(xhr){
                    $('#success_msg').addClass('error-red red').html('Error.!');
                  },
                  dataType: 'json',
                  contentType: "application/json; charset=utf-8",
                });
            // end
}
$(document).on('click', '.icon_close', function (e) { //alert('close')
    size -= 300;
    console.log(e, $(this).attr('user-id'))
    var removeUid = $(this).attr('user-id');
    //clearInterval(chat['stopCounter_'+removeUid]);
    user_id_array.splice(user_id_array.indexOf(removeUid), 1);
    $(this).parent().parent().parent().parent().parent().parent().remove();
    
    //$( "#chat_window_1" ).remove();
});
//$( "#chat_window_1" ).remove();
$('#chat_container').on('keypress', '.chat-btn-input', function(e){ //console.log(e);
//$('.chat-btn-input').keypress(function(e) { console.log(e);
    data = {};
    data.msg = $(this).val();
    data.to = $(this).attr('to');
    data.from = $(this).attr('from');
    get_data(data.to);
    /*var chat_data = '<div class="row msg_container base_sent">\
                        <div class="col-md-10 col-xs-10">\
                            <div class="messages msg_sent">\
                                <p>'+data.msg+'</p>\
                                <time datetime="2009-11-13T20:00">'+data.from+' • 51 min</time>\
                            </div>\
                        </div>\
                        <div class="col-md-2 col-xs-2 avatar1">\
                            '+data.from.slice(0, 1)+'\
                        </div>\
                    </div>';
    $('#user_chat_box_'+data.from).find('.msg_container_base .msg_container:last').append(chat_data);
                    $('#user_chat_box_'+data.from).find('.msg_container_base').animate({
                      "scrollTop": $('#user_chat_box_'+data.from).find('.msg_container_base').scrollHeight
                    }, "fast");*/
    if (e.keyCode === 13 && !e.shiftKey) {
        
        data.room = "<%= Bingo.user_room %>";
        console.log(data, 'pchat');
        $(this).val('');
        if (data.msg !== null && data.msg !== "") {
            get_data(data.to);
            $.ajax({
              type: "POST",
              url: '/api/pchat',
              data: JSON.stringify({sender:data.from, receiver:data.to, msg:data.msg}),
              success: function(res){
                console.log('logged in'+ res);
                get_data(data.to);
              },
              error:function(xhr){
                $('#success_msg').addClass('error-red red').html('Error.!');
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
            });
        } else {
            console.log('pchat else');
        }
    }
    /*socket.on('new message', function(data) { console.log(data, 'new message');
        var to_user = '<%= Bingo.user %>';
        //if (data.to == to_user) {
            $('#'+data.to+' .msg_container_base').append('<h3>to-'+data.msg+'</h3>');
        //} else {
            $('#'+data.from+' .msg_container_base').append('<h1>from-'+data.msg+'</h1>');
        //}
    });*/
});
//var socket = io();

</script>
<style type="text/css">
    /*body{
    height:400px;
    position: fixed;
    bottom: 0;
}*/
.col-md-2, .col-md-10{
    padding:0;
}
.panel{
    margin-bottom: 0px;
}
.chat-window{
    bottom:60px;
    position:fixed;
    float:right;
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    display: block;
    width: 100%;
}
.avatar1 {
    position: relative;
    border-radius: 25%;
    background: grey;
    width: 40px;
    height: 40px;
    padding: 1rem;
}
.avatar2 {
    position: relative;
    border-radius: 25%;
    background: orange;
    width: 40px;
    height: 40px;
    padding: 1rem;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); 
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}
</style>