<% if(Bingo.url == 'bingo90/rooms') { %>
<nav class="navbar fixed-bottom navbar-light bg-faded" style="background: #256ba7; padding: 0">
  <div class="botom_infoTxt">
            <a href="#" class=""><i class="fa fa-lock left"></i> Logged in As</a>
            <a class="btn btn-yellow waves-effect waves-light"  style="background: #215a9d; padding: 5px 10px;">Test</a>
            <a href="#" class="">If you have any questions, contact a chat moderator, or got to "Help" desk</a>

            <a class="btn btn-yellow waves-effect waves-light"  style="background: #f3b359; padding: 5px 10px;float: right;">Deposit</a>
            <a data-toggle="modal" data-target="#paydeskModal" class="btn btn-yellow waves-effect waves-light" style="background: #f3b359; padding: 5px 10px;float: right;">Pay Desk</a>
            <!-- <a href="#" class="" data-toggle="modal" data-target="#modalHelp"><i class="fa fa-info left"></i> Help</a> -->
            <a data-toggle="modal" data-target="#modalHelp" class="btn btn-yellow waves-effect waves-light" style="background: #f3b359;float: right; padding: 5px 10px;">Help</a>
            
            </div> 
</nav>

<% } %>

<% if(Bingo.url == 'bingo90') { %>

<div class="container-fluid">
<nav class="navbar fixed-bottom navbar-light bg-faded">
       <div class="row footer foot-grad">
      <div class="botom_infoTxt">
            <a href="#" class=""><i class="fa fa-lock left"></i> Logged in As: test</a>
            <!-- <a href="#" class="" data-toggle="modal" data-target="#modalMyAccount"><i class="fa fa-user left"></i> My Account</a> -->
            <a href="#" class=""><i class="fa fa-gear left"></i> Cards: <span class="foot_btn grad"><%- Bingo.cards %></span></a>
            <a href="#" class=""><i class="fa fa-gear left"></i> Total Amount: <span class="foot_btn grad">€ <%- Bingo.user_details.deposit_amount.toFixed(2) %></span></a>
            <a href="#" class=""><i class="fa fa-gift left"></i> Bingo/Won Amount: <span class="foot_btn grad">€ <%- Bingo.user_details.win_amount.toFixed(2) %></span></a>
            <a href="#" class="foot-help-grad" data-toggle="modal" data-target="#paydeskModal"><i class="fa fa-money left"></i> Pay Desk</a>
            <a href="#" class="foot-help-grad" data-toggle="modal" data-target="#modalHelp"><i class="fa fa-info left"></i> Help</a>
            
            </div>          
    </div>
    </nav>
</div>

<% } %>
    <!-- common libs -->
    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/tether.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/mdb.min.js"></script>
    <script src="/assets/js/howler.core.js"></script>
    <script src="/assets/js/moment.js"></script>
    <script src="/assets/js/moment-tz.js"></script>
    <!-- <script src="/assets/js/bootstrap-slider.min.js"></script> -->


    <!-- index -->
    <%- include('../modals/help'); %>
    <%- include('../modals/pay_desk'); %>
    <%- include('../modals/my_account'); %>
  
    <script src="/assets/js/bingo90.js"></script>
<script type="text/javascript">

<% if(!Bingo.user_details.win_amount || Bingo.user_details.win_amount < 0) { %>
  $('#paydeskModal').modal('show');
<% } %>

  $('#transfer').on('click', function(){ 
    var total_credits = parseFloat($('#total_credits').val());
    var transfer_credits = parseFloat($('#transfer_credits').val());
    console.log('cliked', total_credits, transfer_credits)
    if(total_credits >= transfer_credits){
    $.ajax({
              type: "POST",
              url: '/api/transfer_credits',
              data: JSON.stringify({total_credits:total_credits, transfer_credits:transfer_credits}),
              success: function(res){
                console.log('transfer_credits'+ res);
                  $('#bingo_credits').focus();
                  $('#transfer_credits').val(0);
                  $('#bingo_credits').val(res.transfer_credits);
                  $('#won_credits').html(res.transfer_credits);
                  $('#paydeskModal').modal('hide');
                  //window.location.href = '/bingo90/rooms';
                    return;
              },
              error:function(xhr){
                $('#transfer_error').addClass('error-red red').html('Transfer error, try again!');
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
            });
    } else {
      $('#transfer_error').html('<h1 class="error-red red">You don\'t have enought Credits!</h1>');
    }
    
    
  })
</script>


<!--//modals-->
<div class="modal fade" id="modalWinnerLine1" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg_gradient" style="border:3px solid #333; border-radius: 15%;">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <img src="/assets/img/bg_head.svg" style="height: 98px;width: 100%;display: inline;    opacity: 0.5;">
       </div>
      <div class="modal-body text-center">
      <h1 class="modal-title winner-title"><i class="fa fa-gift"></i> One Line Winner!</h1>
        <p class="white-text">Hurray! We have a 1 line winner!</p>
      </div>
      <div id="l1wcard"></div>
      

      <hr>
      <div class="text-center">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalWinnerLine2" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg_gradient" style="border:3px solid #333; border-radius: 15%;">
      <div class="modal-header">
        <img src="/assets/img/bg_head.svg" style="height: 98px;width: 100%;display: inline;    opacity: 0.5;">
      </div>
      <div class="modal-body text-center">
      <h1 class="modal-title winner-title"><i class="fa fa-gift"></i> Two Lines Winner!</h1>
        <p class="white-text">Hurray! We have a 2 lines winner!</p>
      </div>
      <div id="l2wcard"></div>
      <hr>
      <div class="text-center">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalWinnerLine3" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg_gradient" style="border:3px solid #333; border-radius: 15%;">
      <div class="modal-header">
        <img src="/assets/img/bg_head.svg" style="height: 98px;width: 100%;display: inline;    opacity: 0.5;">
        
      </div>
      <div class="modal-body text-center">
      <h4 class="modal-title winner-title"><i class="fa fa-gift"></i> Full house Winner!</h4>
        <p class=" white-text">Hurray! We have full house winner!</p>
      </div>
      <div id="l3wcard"></div>
      <hr>
      <div class="text-center">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="sound_change_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg_gradient" style="border:3px solid #333; border-radius: 15%;">
      <div class="modal-header">
        <img src="/assets/img/bg_head.svg" style="height: 98px;width: 100%;display: inline;    opacity: 0.5;">
      </div>
      <div class="modal-body text-center">
      <h1 class="modal-title winner-title"><i class="fa fa-gift"></i> Sound</h1>
        <button type="button" id="sound_male" class="btn btn-success" data-dismiss="modal">Male</button>
        <button type="button" id="sound_female" class="btn btn-success" data-dismiss="modal">Female</button>
      </div>
      <hr>
      <div class="text-center">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  var Sound = {};
  Sound.gender = 'Male';
    $('#paydeskModal').on('shown.bs.modal', function () {
      $('#transfer_credits').focus()
    })
    $('#sound_change').on('click', function(){
        $('#sound_change_modal').modal('show');
    })
    $('#sound_male').on('click', function(){
        Sound.gender = 'Male';
    })
    $('#sound_female').on('click', function(){
        Sound.gender = 'Female';
    })
<% if(Bingo.url == 'bingo90') { %>
    /*var sound = new Howl({
      src: ['/assets/sound/bingo90_start.mp3']
    });

    // Clear listener after first call.
    sound.once('load', function(){
      sound.play();
    });*/
<% } %>
<% if(Bingo.url == 'bingo90/rooms') { %>
    var sound = new Howl({
      src: ['/assets/sound/mp3/backgroundsound3.mp3']
    });

    // Clear listener after first call.
    sound.once('load', function(){
      sound.play();
    });
<% } %>
</script>


<script>
<% if(Bingo.url == 'bingo90') { %>
$('#clockdiv').hide();
function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  //var daysSpan = clock.querySelector('.days');
  //var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    //daysSpan.innerHTML = t.days;
    //hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      $('#clockdiv').hide();
      clearInterval(timeinterval);
      clearInterval(checkInterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}
curr_hr = moment(new Date()).tz("Europe/Amsterdam").format('x');
fut_hr = moment(new Date()).tz("Europe/Amsterdam").add(300000, 'ms').format('x');
diff_hr = (fut_hr - curr_hr);
/*console.log(curr_hr, fut_hr, diff_hr);
hr = moment(new Date()).tz("Europe/Amsterdam");
//var deadline = new Date(hr + 1 * 1 * 3 * 60 * 1000);
var deadline = new Date(hr + diff_hr);
initializeClock('clockdiv', deadline);*/
checkInterval = setInterval(function(){
  hr = moment(new Date()).tz("Europe/Amsterdam").format("mmss");
    if(hr == "5929" || hr == "0529" || hr == "0929" || hr == '1529' || hr == "1929" || hr == "2529" || hr == "2929" || hr == "3529" || hr == "3929" || hr == "4529" || hr == "4929"){
        $('#clockdiv').show();
        var deadline = new Date(Date.parse(new Date()) + 1 * 1 * 1 * 30 * 1000);
        initializeClock('clockdiv', deadline);
    }
  }, 1000);
<% } %>
</script>
</body>

</html>
