<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Bingo 90 - Rooms!!</title>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/assets/css/mdb.min.css" rel="stylesheet">
    <!-- Custom -->
    <link href="/assets/css/bingo90.css" rel="stylesheet">
    <!-- <link href="/assets/css/bootstrap-slider.min.css" rel="stylesheet"> -->
    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */
        /* Necessary for full page carousel*/
        
        html,
        body {
            height: 100%;
            line-height: 1.25 !important;
            background-color:<%= Bingo.body_bg %>;
        }
        .boxtitle{
            background-color:<%= Bingo.body_bg %>;
        }
        .cardBoxT, .roundcolor, body {
            background: <%- Bingo.game_round_clr %>;
        }
        /* Navigation*/
        
        .navbar {
            background-color: transparent;
        }
        
       .navbar-fixed-bottom{position:fixed; bottom:0px; background: rgba(255, 255, 255, 0.8); width:100%;}

.bg_gradient {
  background: <%= Bingo.body_bg %>; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, <%= Bingo.body_bg %>, #461415); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, <%= Bingo.body_bg %>, #461415); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, <%= Bingo.body_bg %>, #461415); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, <%= Bingo.body_bg %>, #461415); /* Standard syntax */
  border-bottom: 1px solid #999;
}
.cl{
  color; background: <%= Bingo.pin_bg %>;
}
.cl2{
  color; background: <%= Bingo.body_bg %>;
}
    </style>

</head>
<body>

<% if(Bingo.url == 'bingo90/rooms') { %>
<!-- <div class="container-fluid bgcolor noborder"> -->
<div class="container-fluid bingo90header" style="background: #256ba7;">
       <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
			<div class="hidden-xs-down hidden-sm-down">
              <!-- <a href="<%= Bingo.url  %>">
                  <img src="/assets/img/woodbingo_logo.png" class="logo" width="200">
              </a> -->
                <img src="/assets/img/woodbingo_logo.png" class="logo pull-left" width="200">
              <h2 class="headerTxt"><!-- <img src="/assets/img/chat1.png" alt=""> --> 

             Welcome at “<span class="redColor">WoodBingo</span>” our game is based on traditional bingo game.</h2>

             </div>

              <div class="error"> 
                <!-- <div class="titleTxt">Buy Books!</div> -->
                <span id="error"></span>
                    <div class="btnWrap-old"><!-- Buy Books : --> 
                    <!-- <input id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="6" data-slider-step="1" data-slider-value="1"/> -->
                       
                    <!-- <span style="float:right;margin-top: -2rem;">Also fun to play <a href="/bingo75/rooms" class="btn btn-yellow waves-effect waves-light" style="background: #f3b359;">Bingo 75</a></span> -->
                    </div>
                    <!-- <div class="BuyBook">
                        <i class="fa fa-chevron-down"></i>
                        <span id="selected_card" class="selectedBook">1</span>
                        <i class="fa fa-chevron-down"></i>
                    </div> -->
              </div>

            </div>

             
            <div class="col-md-3 col-xs-12 col-sm-12">
				<div class="center-block text-center img-responsive col-xs-12">
					<img src="/assets/img/woodbingo_logo.png" class="logo hidden-md-up text-center" width="100">
				</div>
				<div class="chatSec center-block">
					<!-- <img src="/assets/img/user1.png" alt=""> --> 
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-7">
							Welcome : <span class="nam"><%- Bingo.user %></span>
							<!-- <div style="float: right; display: inline-block;">
							  <a href="/api/logout" class="glass">Log out</a>
							  <a href="#" class="glass">Pay-out</a>
							</div> -->
							<div class="creditBox">
								<span>Total Amount:</span><span class="euro">&euro; <%- Bingo.user_details.deposit_amount.toFixed(2) %> </span>
								<span class="clearfix"></span>
							</div>
							<div class="creditBox">
								<span>Win Amount:</span><span class="euro" id="won_credits">&euro; <%- Bingo.user_details.win_amount.toFixed(2) %> </span>
								<span class="clearfix"></span>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-5">
							<a class="btn btn-sm btn-yellow waves-effect waves-light" id="all_cards" style="background: #f3b359;">Pay Out</a>
							<a class="btn btn-sm btn-yellow waves-effect waves-light" id="all_cards" style="background: #f97276;">Logout</a>
						</div>
					</div>
                </div>
				
            </div>
            
            <!-- <div class="col-md-4">
              <div class="chatSec"><img src="/assets/img/euro.png" alt=""> Option: 
                <a href="#" data-toggle="modal" data-target="#paydeskModal" class="glass">Pay Desk</a> <a href="#" class="glass">Help Desk</a> <a href="#" class="glass">Deposit</a>
              </div>
            </div> -->
        </div>
</div>
<% } 
if(Bingo.url == 'bingo90') { %>
<div class=" headerbingogame bg_gradient">
    
    <div class="">
        <div class=" ">
            <img src="/assets/img/bg_head.svg" class="bghead">
            <div class="topLeftBtnWrap">
                <a class="topLeftBtn" href="/bingo90/rooms">Room List <i class="fa fa-times closeWindow" aria-hidden="true"></i></a>
                <a class="topLeftBtn" href="#" id="sound_change">Sound</a>
                <a class="topLeftBtn" href="#">Balls <i id="balls" class="balls">0</i></a>
                <a class="topLeftBtn" href="#">Rounds <i id="game_round" class="balls rounds"><%= Bingo.game_round %></i></a>
            </div>
            <div class="balls_wrp" > 
                <div id="rolling_ball"> </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            
            <div >Balls Balls Balls </div>
        </div>
    </div> -->
</div>
<% } %>
























