<%- include('header90'); %> 
<script src="/socket.io/socket.io.js"></script>
    <!-- Page Content -->
<div class="container-fluid bgcolor bingo90container">

    <div class="row" style="background: url('/assets/img/wave.png')";>
        <% if(Bingo.rooms.length > 0){ 
            for(i=0;i<Bingo.rooms.length;i++){
        %>
        <div class="col-xs-12 col-md-15 colBorder" <% if(i==0){ %> style="border-left: 0.5rem #004253 solid;" <% } %>>
            <div class="roomHead"><%= Bingo.rooms[i].name %> (<span>0</span>)</div>
            <div class="roomTxtBox">
                <div class="titleTxt">Status: 
                    <% if(!Bingo.rooms[i].if_open){ %> 
                       <span class="status" style="color: red;"> Closed...</span>
                    <% } else{  %>
                       <span class="status"> Open</span> 
                    <% } %>
                </div>
                <div class="roominfoTxt">
                    Game Starts: <span class="Time">2016-12-14, 20:00:00</span>
                </div>
                    <!-- <div class="roominfoTxt">Rounds to go: <span class="rounds">0</span><span class="clearfix"></span></div> -->
                    <!--**********************************-->
                    <div class="titleTxt">Books:</div>
                    <div class="roominfoTxt">
                        1 Books: <span class="rounds price">&euro; <%= Bingo.rooms[i].book1_cost %></span><span class="clearfix"></span>
                    </div>
                    <div class="roominfoTxt">
                        2 Books: <span class="rounds price">&euro; <%= Bingo.rooms[i].book2_cost %></span><span class="clearfix"></span>
                    </div>
                    <div class="roominfoTxt">
                        3 Books: <span class="rounds price">&euro; <%= Bingo.rooms[i].book3_cost %></span><span class="clearfix"></span>
                    </div>
                    <div class="roominfoTxt">
                        4 Books: <span class="rounds price">&euro; <%= Bingo.rooms[i].book4_cost %></span><span class="clearfix"></span>
                    </div>
                    <div class="roominfoTxt">
                        5 Books: <span class="rounds price">&euro; <%= Bingo.rooms[i].book5_cost %>0</span><span class="clearfix"></span>
                    </div>
                    <div class="roominfoTxt">
                        6 Books: <span class="rounds price">&euro; <%= Bingo.rooms[i].book6_cost %></span><span class="clearfix"></span>
                    </div>
                    <!--**********************************-->
                    <div class="titleTxt">Priced in the room:</div>
                    <span class="roomPrice elven">
                        Line 1 - &euro; <%= Bingo.rooms[i].line1_prize %>
                    </span>
                    <span class="roomPrice elven">
                        Line 2 - &euro; <%= Bingo.rooms[i].line2_prize %>
                    </span>
                    <span class="roomPrice elven">
                        Full House - &euro; <%= Bingo.rooms[i].fullhouse_prize %>
                    </span>
                    <!-- <span class="roomPrice elven">Jackpot - &euro; <%= Bingo.rooms[i].jackpot_prize %></span> -->
                    <!-- <span class="roomPrice">6 x &euro; 30.00,</span>
                    <span class="roomPrice">5 x &euro; 100.00</span> -->
                    <!--**********************************-->
                    <div class="titleTxt">Buy Books!</div>
                    <div id="btn_card" class="btnWrap">
                        <a href="javascript:void(0)" class="blackglass" data-val="1">1</a> 
                        <a href="javascript:void(0)" class="blackglass" data-val="2">2</a>
                        <a href="javascript:void(0)" class="blackglass" data-val="3">3</a>
                        <a href="javascript:void(0)" class="blackglass" data-val="4">4</a>
                        <a href="javascript:void(0)" class="blackglass" data-val="5">5</a>
                        <a href="javascript:void(0)" class="blackglass" data-val="6">6</a>
                    </div>
                    <div class="BuyBook">
                        <i class="fa fa-chevron-down"></i>
                        <span id="selected_card" class="selectedBook">1</span>
                        <i class="fa fa-chevron-down"></i>
                    </div> 
                    <!--**********************************-->
                    <span class="clearfix"></span>
                    <div class="titleTxt">Select Blackground 
                        <span id="selected_body_bg" class="selectedColor_1 selectedBook">&nbsp;</span>
                    </div>
                    <div id="body_bg" class="btnWrap" >
                        <a  class="colorBox color_1" data-bg="#fc4000"></a> 
                        <a  class="colorBox color_2" data-bg="#9b0298"></a> 
                        <a  class="colorBox color_3" data-bg="#4e2900"></a> 
                        <a  class="colorBox color_4" data-bg="#fd02b1"></a> 
                        <a  class="colorBox color_5" data-bg="#00f05b"></a> 
                        <a  class="colorBox color_6" data-bg="#429022"></a> 
                        <a  class="colorBox color_7" data-bg="#0011cb"></a> 
                        <a  class="colorBox color_8" data-bg="#00c1ff"></a> 
                    </div>
                    <!-- <div class="BuyBook" >
                        <i class="fa fa-chevron-down"></i>
                        <span id="selected_body_bg" class="selectedColor_1 selectedBook">&nbsp;</span>
                        <i class="fa fa-chevron-down"></i>
                    </div> --> 
                    <!--**********************************-->
                    <span class="clearfix"></span>
                    <div class="titleTxt">Click on pin you want to use: 
                        <span id="selected_pin_bg" class="selectedColor_2">&nbsp;</span>
                    </div>
                    <div id="pin_bg" class="btnWrap pinWrap" > 
                        <a href="javascript:void(0)" class="pin_3" data-bg="#429022">
                            <img src="/assets/img/Marker_3.svg" width="15%"  />
                        </a>
                        <a href="javascript:void(0)" class="pin_1" data-bg="#00c1ff"> <!-- <i class="fa fa-thumb-tack" aria-hidden="true"></i> -->
                            <img src="/assets/img/Marker_1.svg"   width="15%"/>
                        </a>
                        <a href="javascript:void(0)" class="pin_2" data-bg="#0011cb"><!-- <i class="fa fa-thumb-tack" aria-hidden="true"></i> -->
                            <img src="/assets/img/Marker_2.svg"  width="15%"/>
                        </a> 
                         
                        <!-- <a href="javascript:void(0)" class="pin_4" data-bg="#dc248e"><i class="fa fa-thumb-tack" aria-hidden="true"></i>
                            <img src="/assets/img/Marker_4.svg" wheight="50" width="20"/>
                        </a> --> 
                        <a href="javascript:void(0)" class="pin_5" data-bg="#9b101a"><!-- <i class="fa fa-thumb-tack" aria-hidden="true"></i> -->
                            <img src="/assets/img/Marker_5.svg"  width="16%"/>
                        </a>
                        <a href="javascript:void(0)" class="pin_6" data-bg="#fd02b1"><!-- <i class="fa fa-thumb-tack" aria-hidden="true"></i> -->
                            <img src="/assets/img/Marker_6.svg" width="15%"/>
                        </a>
                        <a href="javascript:void(0)" class="pin_7" data-bg="#4e2900"><!-- <i class="fa fa-thumb-tack" aria-hidden="true"></i> --><img src="/assets/img/Marker_7.svg"   width="15%"/></a> 
                        <a href="javascript:void(0)" class="pin_8" data-bg="#fc4000"><!-- <i class="fa fa-thumb-tack" aria-hidden="true"></i> --><img src="/assets/img/Marker_9.svg"  width="15%"/></a> 
                        <!-- <a href="javascript:void(0)" class="pin_9" data-bg="#ea2300"><i class="fa fa-thumb-tack" aria-hidden="true"></i></a> 
                        <a href="javascript:void(0)" class="pin_10" data-bg="#004209"><i class="fa fa-thumb-tack" aria-hidden="true"></i></a> --> 
                        
                    </div>
                    
					<div class="col-xs-12 enterroombuttons">
						<div class="row">
						<% if(i==0){  %> 
							<% if(Bingo.user_playing){ %>
								<div class="enterRoom2"  data-room="<%= Bingo.rooms[i]._id %>" style=" bottom: 65px;">
									<a style="border-radius: 0px;background: #004253;" href="/bingo90" class="glass btn" >Back To Game</a>
								</div>
								<!-- <div class="enterRoom2"><a style="background: #004253;border-radius: 0px;" id="update_room" href="#" class="glass btn" >Update/Buys Books & Enter Room</a></div> -->
							<% } else {  %>
								
								<div class="enterRoom">
									<a style="background: #004253;border-radius: 0px;" id="enter_room" href="#" class="glass btn" >Enter Room</a>
								</div>
							<% }  %>
						
							<% if(!Bingo.rooms[i].status){ %>
								<div class="enterRoom2">
									<a style="background: #004253;border-radius: 0px;" id="update_room" href="#" class="glass btn" >Update/Buys Books & Enter Room</a>
								</div>
							<% } else{  %>
								<div class="enterRoom2">
									<a style="background: #004253;border-radius: 0px;color:red;"   class="glass btn"> Busy</a>
								</div>
							<% }  %>
						<% } else {  %>
							<div class="enterRoom">
								<a style="background: #004253;border-radius: 0px;color:#fff;"   class="glass btn"> Enter Room (Closed)</a>
							</div>
						<% }  %>
						</div>
					</div>
                    <!--Closed-->                  
                </div>
           </div>
        <% }  } %>
        <!-- rooms for loop end - -->
           
    </div>
</div>

<div class="bg_load"></div>
<div class="wrapper">
    <div class="inner">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>
</div>




<!-- /.container -->

<%- include('footer90'); %>

<script type="text/javascript">
/*$( document ).ready(function() {
    $("#ex8").slider({
        tooltip: 'always'
    });
    
});*/
</script>
<script type="text/javascript">
$(".bg_load, .wrapper").hide();
    Room = {
        body_bg: '#e80000',
        pin_bg: '#429022',
        cards:1,
        room_id: false
    };
    $('#body_bg a').on('click', function(e){
        Room.body_bg = $(this).attr('data-bg');
        $('#selected_body_bg').css('background',Room.body_bg);
        
    })
    $('#pin_bg a').on('click', function(e){
        Room.pin_bg = $(this).attr('data-bg');
        $('#selected_pin_bg').css('background',Room.pin_bg);
        console.log(Room);
    })
    $('#btn_card a').on('click', function(e){
        Room.cards = $(this).attr('data-val'); console.log(Room);
        $('#selected_card').text(Room.cards);
    })
    /*$("#ex8").on("slide", function(slideEvt) {
        //$("#ex6SliderVal").text(slideEvt.value);
        //console.log(slideEvt.value);
        Room.cards = slideEvt.value;
    });*/
    $('#enter_room, #update_room').on('click', function(e){
        e.preventDefault(); 
        $(".bg_load, .wrapper").show();
        $(".bg_load").fadeOut("slow");
        $(".wrapper").fadeOut("slow");
        //Room.room_id = $(this).attr('data-room');
        //console.log(Room); 
        //return;
        //if(Room.room_id){
        
            $.ajax({
              type: "POST",
              url: '/api/gotobingo90',
              data: JSON.stringify({Room}),
              success: function(res){
                console.log('logged in ..'+ res);
                if(res.status){
                    window.location.href = '/bingo90';
                    return;
                }
                if(!res.status){
                    $('#error').addClass('error-red red text-center' ).html(res.msg);
                    return;
                }
              },
              error:function(xhr){
                $('#error').addClass('error-red red').html('There is some issue!');
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
            });
        /*} else{
            alert('oops! something went wrong!');
        }*/
    });
    
</script>




