<%- include('header75'); %> 


    <!--Content-->
    <div class="container boxWrap">
        <div class="row">
            <!-- <div class="col-md-3">
               <div class="row">
               <div class="leftSideBox">
                        <div class="boxTitle">Filter</div>
                        
                        <ul class="allRommsList">
                            <li><a href="#" class="selected">All Rooms <i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="#">0.00 <i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="#">0.01 <i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="#">0.05 <i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="#">0.10 <i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="#">0.15 <i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="#">0.25 <i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="#">0.50 <i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                        <div class="adsWrap"><img src="img/ads.png" alt=""></div>
                        <div class="refreshBtn"><a href="#">Refresh</a></div>
                        
                        </div>
                    </div>
               
            </div> -->
            <div class="col-md-12">
                <!-- <div class="row">
                  <div class="col-md-12"> <i class="fa fa-arrows-v" aria-hidden="true"></i>-->
                    <div class="rightSideBox">
                        <div class="boxTitle">Welcome : <%= Bingo75.user %>
                          <span  style="float: right;font-size: 1rem;"><a id="pay_desk75" class="fa fa-arrows-v"> Pay Desk</a></span>
                        </div>
                        <span id="error"></span>
                        <!-- a/c info box-->
                        <div class="accountInfoBox">
                            <div class="accountInfoBoxWhite">
                                <!-- <h3>Account Information</h3> -->
                                <div class="userName"><span>User Name:</span><span><%= Bingo75.user %></span></div>
                                <div class="userName"><span>Total Credits:</span><span><%= Bingo75.user_details.deposit_amount.toFixed(2) %></span></div>
                                <% if(Bingo75.user_details.deposit_amount > 0) { %>
                                  <div class="userName"><span>Bingo Credits:</span><span><%= Bingo75.user_details.win_amount.toFixed(2) %></span></div>
                                <% } %>
                                <hr>
                                <div id="transfer_div">
                                    <div class="inputBox">
                                        <label for="form1" class="">Credit Transfer</label>
                                        <input type="hidden" name="total_credits"  id="total_credits" class="form-control" value="<%- Bingo75.user_details.total_credits %>">
                                        <input type="text" name="transfer_credits" id="transfer_credits" class="txt" placeholder="0.00">
                                    </div>
                                    <div class="inputBox">
                                        <label for="form1" class="">Bingo Credit</label>
                                        <input type="text" name="bingo_credits" id="bingo_credits" class="txt" placeholder="0.00">
                                    </div>
                                    <div class="clearfix"></div>
                                    <a href="#" class="transferBtn" id="transfer"><i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                            <div class="boxTitle">Bingo rooms</div>
                            <!-- <div class="accountInfoBoxWhite">
                                <div class="inputBox">
                                    <label for="form1" class="">Credit Transfer</label>
                                    <input type="text" id="form1" class="txt" placeholder="0.00">
                                </div>
                                <div class="inputBox">
                                    <label for="form1" class="">Bingo Credit</label>
                                    <input type="text" id="form1" class="txt" placeholder="0.00">
                                </div>
                                <div class="clearfix"></div>
                                <a href="#" class="transferBtn"><i class="fa fa-angle-double-right"></i></a>
                                
                            </div> -->
                        </div>
                    <!-- </div>
                </div> -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="roomBoxWrap">
                        <% if(Bingo75.rooms.length > 0){ 
                            for(i=0;i<Bingo75.rooms.length;i++){
                        %>
                        
                             <a href="#" data-room="<%= Bingo75.rooms[i]._id %>" data-game="" data-room_img="list_img<%= i %>.png"><div class="roomListRow chosen-room">
                                
                                  <div class="row">
                                  <div class="col-md-2">
                                    <img src="/assets/img/list_img<%= i %>.png" width="75" height="75" alt="">
                                   </div>
                                   <div class="col-md-4">
                                   <div class="roomDetailsLeft">
                                        <span class="roomTitle"><%= Bingo75.rooms[i].name %></span>
                                        
                                        <span class="cardsRoom">Upto <%= Bingo75.rooms[i].cards_upto %> cards per room</span> 
                                       <!-- <span class="cardsRoom">Choose cards:
                                            <select class="room-cards">
                                                <% 
                                                    for(j=1;j<=Bingo75.rooms[i].cards_upto;j++){
                                                %>
                                                <option value="<%= j %>"><%= j %></option>
                                                <% } %>
                                            </select>
                                        </span>      -->
                                        <span class="cardsRoom">Card Price: <i class="cardPrice">&euro; <%= Bingo75.rooms[i].card_price %></i> <!-- Previous round <i class="cardPrice">0.10</i> --></span> 
                                        <!--<a class="btn btn-success" href="#" data-room="<%= Bingo75.rooms[i]._id %>" data-game="" data-room_img="list_img<%= i %>.png"> 
                                        Enter Room</a>     -->  
                                   </div> </a>
                                   </div>
                                   <div class="col-md-3">
                                   <div class="roomDetailsLeft">
                                    <span class="roomStatus"><i class="busy"></i>Busy</span>
                                    </div>
                                   </div>
                                   <div class="col-md-3">
                                   <div class="roomDetailsRight">
                                        <span class="cardsRoom">Players</span>      
                                        <span class="cardsRoom">
                                            <i class="numofPlayers">7</i> | <i class="numofPlayers">45</i>
                                        </span> 
                                        <span class="cardsRoom">Number of Balls</span>      
                                        <span class="cardsRoom">
                                            <i class="numofBalls"><%= Bingo75.rooms[i].card_balls_to_roll %></i>
                                        </span>    
                                   </div>
                                   </div>
                                   </div>
                                   <!-- <span class="clearfix"></span> -->
                                                                                 
                             </div><!--roomBoxWrap list row closed here-->
                             <% }  
                             } %>
                             
                    </div>
                  </div>
                </div>


          </div>
        </div>


</div>
        

    <!--/.Content-->
    
 <%- include('footer75'); %>         

<script type="text/javascript">
$('.accountInfoBox').hide();
$("#pay_desk75").click(function(){
    $(".accountInfoBox").slideToggle();
});
<% if(Bingo75.user_details.win_amount > 0) { %>
  //$('.accountInfoBox').hide();
<% } %>
<% if(Bingo75.user_details.win_amount <= 0) { %>
  $('.accountInfoBox').show();
<% } %>
    Room = {
        cards:1,
        room_id: false,
        game_id:false,
        room_img: 'list_img1.png'
    };

    $('.chosen-room').find('a').on('click', function(e){
        e.preventDefault();

        Room.room_id = $(this).attr('data-room');
        Room.game_id = $(this).attr('data-game');
        Room.room_img = $(this).attr('data-room_img');
        Room.cards = $(this).parent('.roomDetailsLeft').find('.room-cards').val();
        //console.log(Room);
        //return;
        //if(Room.room_id && Room.game_id){
        if(Room.room_id){
            $.ajax({
              type: "POST",
              url: '/api/gotobingo75',
              data: JSON.stringify({Room}),
              success: function(res){
                console.log('logged in'+ res);
                if(res.status && res.game){
                    window.location.href = '/bingo75';
                    return;
                }
                if(res.status && !res.game){
                    $('#error').addClass('error-red green text-center' ).html('There is no game in this hour, try in the next hour! Game hours: 1,3,5,7,9,11');
                    return;
                }
                if(!res.status){
                    $('#error').addClass('error-red red text-center' ).html(res.msg);
                    return;
                }
              },
              error:function(xhr){
                $('#error').addClass('error-red red').html('There is some issue!');
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
            });
        } else{
            alert('oops! something went wrong!');
        }
    });
    

     $('#transfer').on('click', function(){ 
    var total_credits = parseFloat($('#total_credits').val());
    var transfer_credits = parseFloat($('#transfer_credits').val());
    console.log('clicked', total_credits, transfer_credits)
    if(total_credits >= transfer_credits){
    $.ajax({
              type: "POST",
              url: '/api/transfer_credits',
              data: JSON.stringify({total_credits:total_credits, transfer_credits:transfer_credits}),
              success: function(res){
                console.log('logged in'+ res.transfer_credits);
                  $('#bingo_credits').focus();
                  $('#transfer_credits').val(0);
                  $('#bingo_credits').val(res.transfer_credits);
                  $('#won_credits').html(res.transfer_credits);
                  $('#transfer_div').hide();
                  window.location.href = '/bingo75/rooms';
                    return;
              },
              error:function(xhr){
                $('#transfer_error').addClass('error-red red').html('Transfer error, try again!');
              },
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
            });
    } else {
      $('#transfer_error').html('<h1 class="error-red red">You don\'t have enought Credits!</h1>');
    }
    
    
  })
</script>
